node_modules
npm-debug.log
dist
.git
.gitignore
.idea
.vscode
vendor/**/.git
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
compose.dev.yaml
compose.prod.yaml
.dockerignore
.env
.env.*
tests
coverage
*.md
README*