node_modules
npm-debug.log
dist
.git
.gitignore
.idea
.vscode
vendor/**/.git
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.yml
Dockerfile
.env
.env.*
tests
coverage

